
body {
    padding: 20px;
    font-family: "Instrument Sans", sans-serif;
    margin: 0;
    background-color: #ebe8e8;
}

header {
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

.navbar {
    display: inline-block;
}

.navbar a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.navbar a:hover {
    background-color: #ffcc00;
}

#searchContainer {
    text-align: center;
    margin: 20px auto;
}

#searchInput {
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}

#beer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.beer-tile {
    width: 250px;
    height: 310px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    overflow: auto;
    background-color: #f9f9f9;
}

.beer-tile h2 {
    margin-top: 0;
    color: #000000;
}

.beer-name {
    text-align: center;
    cursor: pointer;
}

.beer-name:hover {
    scale: 1.05;
    transition: 0.3s;
}

.star {
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    color: #ffcc00;
    position: relative;
}

.star.filled:before {
    content: '\2605';
    position: absolute;
    left: 0;
    top: 0;
    color: gold;

}